[user]
    name = {{ .name }}
    email = {{ .email }}

[core]
    excludesfile = ~/.gitignore
    pager = delta
    # Speed up commands involving untracked files such as `git status`.
    # https://git-scm.com/docs/git-update-index#_untracked_cache
    untrackedCache = true
[interactive]
    diffFilter = delta --color-only
[delta]
    line-numbers = true
    # Use n and N to move between diff sections.
    navigate = true

[init]
    defaultBranch = main

[branch]
    # Show most recently changed branches first.
    sort = -committerdate

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[fetch]
    prune = true

[rebase]
    autostash = true

[merge]
    # required by delta pager
    conflictstyle = zdiff3

[status]
    # show all files rather than just the top-level directory
    showUntrackedFiles = all

[diff]
    algorithm = histogram

[alias]
    # List aliases.
    aliases = config --get-regexp alias

    up = "!f() { \
        git fetch origin --prune --tags && \
        git remote set-head origin --auto >/dev/null && \
        git pull origin \"$(git symbolic-ref --short refs/remotes/origin/HEAD | cut -d/ -f2-)\"; \
    }; f"

    # Switch to a branch, creating it if necessary.
    go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

    # Remove branches that have already been merged with main.
    dm = !git-delete-merged-branches --branch main

    # `git di $number` shows the diff between the state `$number` revisions ago and the current state.
    di = "!f() { \
        git diff --patch-with-stat HEAD~${1:-1}; \
    }; \
    test -z \"$(git status --porcelain)\" || clear; \
    f"

    # Commit all changes.
    ca = !git add ':(exclude,attr:builtin_objectmode=160000)' && git commit -av

    # Amend the currently staged files to the latest commit.
    amend = commit --amend --reuse-message=HEAD
