[user]
    name = {{ .name }}
    email = {{ .email }}

[core]
    excludesfile = ~/.gitignore
    pager = delta
    # Speed up commands involving untracked files such as `git status`.
    # https://git-scm.com/docs/git-update-index#_untracked_cache
    untrackedCache = true
[interactive]
    diffFilter = delta --color-only
[delta]
    line-numbers = true
    # Use n and N to move between diff sections.
    navigate = true

[init]
    defaultBranch = main

[branch]
    # Show most recently changed branches first.
    sort = -committerdate

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[fetch]
    prune = true

[rebase]
    autostash = true

[merge]
    # required by delta pager
    conflictstyle = zdiff3

[status]
    # show all files rather than just the top-level directory
    showUntrackedFiles = all

[diff]
    algorithm = histogram

[alias]
    # List aliases.
    aliases = config --get-regexp alias

    # up = !"git fetch origin --prune && git pull origin --tags main && git pull origin main"%
    up = !"git fetch origin --prune && git remote set-head origin --auto >/dev/null && git pull origin \"$(git rev-parse --abbrev-ref origin/HEAD | sed 's@^origin/@@')\""%

    # Switch to a branch, creating it if necessary.
    go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

    # Remove branches that have already been merged with main.
    # a.k.a. ‘delete merged’
    dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

    # `git di $number` shows the diff between the state `$number` revisions ago and the current state.
    di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"

    # Commit all changes.
    ca = !git add ':(exclude,attr:builtin_objectmode=160000)' && git commit -av

    # Amend the currently staged files to the latest commit.
    amend = commit --amend --reuse-message=HEAD
